################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/com.companyname.myslideshow.apk
/com.mobilefirsttechnologies.myslideshow.apk
/EmailList.txt
